@model IEnumerable<Product>
@{
	ViewData["Title"] = "TASAR YERİ";
}

<!DOCTYPE html>
<html lang="zxx">
<body>

	<!-- Hero section -->
	<section class="hero-section">
		<div class="hero-slider owl-carousel">
			@foreach (var item in Model.OrderByDescending(x => x.ProductId).Take(2))
			{
				<div class="hs-item set-bg" data-setbg="/tasaryericom/img/bg9.jpg">
					<div class="container">
						<div class="row">
							<div class="col-xl-6 col-lg-7 text-hero">
								<span>YENİ GELENLER</span>
								<h2>@item.ProductName</h2>
								@if (item.ProductDescription.Length < 220)
								{
									<p>@item.ProductDescription</p>
									<br />

								}
								else
								{
									<p>@item.ProductDescription.Substring(0,220)...</p>
								}
								<a href="/Product/ProductDetail/@item.ProductId/" class="site-btn sb-line">KEŞFET</a>
								<a href="#" class="site-btn sb-white">SEPETE EKLE</a>
							</div>
						</div>
					</div>
				</div>
			}
			
		</div>
		<div class="container">
			<div class="slide-num-holder" id="snh-1"></div>
		</div>
	</section>
	<!-- Hero section end -->

	<!-- Features section -->
	<section class="features-section">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-4 p-0 feature">
					<div class="feature-inner">
						<div class="feature-icon">
							<img src="/tasaryericom/img/icons/1.png" alt="#">
						</div>
						<h2>HIZLI VE GÜVENLİ ÖDEME</h2>
					</div>
				</div>
				<div class="col-md-4 p-0 feature">
					<div class="feature-inner">
						<div class="feature-icon">
							<img src="/tasaryericom/img/icons/2.png" alt="#">
						</div>
						<h2>Premium ÜRÜNLER</h2>
					</div>
				</div>
				<div class="col-md-4 p-0 feature">
					<div class="feature-inner">
						<div class="feature-icon">
							<img src="/tasaryericom/img/icons/3.png" alt="#">
						</div>
						<h2>ÜCRETSİZ & HIZLI TESLİMAT</h2>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Features section end -->

	<!-- Product filter section -->
	<section class="product-filter-section">
		<div class="container">
			<div class="section-title">
				<h2>EN ÇOK SATANLAR</h2>
			</div>
			<div class="row">

				@foreach (var item in Model)
				{
					<div class="col-lg-3 col-sm-6">
						<div class="product-item">
							<div class="pi-pic">
								<a href="/Product/ProductDetail/@item.ProductId/"><img src="@item.ImageUrl" alt="" class="img-thumbnail"></a>
								<div class="pi-links">
									<a href="#" class="add-card"><i class="flaticon-bag"></i><span>Sepete Ekle</span></a>
									<a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
								</div>
							</div>
							<div class="pi-text">
								<h6>@item.Price <i class="fa fa-try" aria-hidden="true"></i></h6>
								@if (item.ProductName.Length < 20)
								{
									<p>@item.ProductName</p>
								}
								else
								{
									<p>@item.ProductName.Substring(0,15)...</p>
								}
							</div>
						</div>
					</div>
				}
				

			</div>
			<div class="text-center pt-5">
				<a href="/Product/Index/" class="site-btn sb-line sb-dark">DAHA FAZLA</a>
			</div>
		</div>
	</section>
	<!-- Product filter section end -->

	<partial name="/Views/Shared/Partials/_BannerPartial.cshtml" />


	<!-- letest product section -->
	@await Component.InvokeAsync("RecentlyAddedProducts");
	<!-- letest product section end -->


</body>
</html>

