@using TasarYeriProject.DtoLayer.Dtos.ProductDtos
@model ProductEditDtos
@{
    ViewData["Title"] = "EditProduct";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!DOCTYPE html>
<html>
<body>
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>ÜRÜN DÜZENLEME</h2>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="index.html">ANA SAYFA</a>
                </li>
                <li class="breadcrumb-item active">
                    <strong>@Model.ProductName</strong>
                </li>
            </ol>
        </div>
    </div>

    <div class="wrapper wrapper-content animated fadeInRight ecommerce">

        <div class="row">
            <div class="col-lg-12 mb-5">
                <div class="tabs-container">
                    <ul class="nav nav-tabs">
                        <li><a class="nav-link active" data-toggle="tab" href="#tab-1"> Ürün Bilgileri</a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="tab-1" class="tab-pane active">
                            <div class="panel-body">
                                @using (Html.BeginForm("EditProduct", "Product", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                {
                                    <table class="table table-bordered table-striped">
                                        @Html.HiddenFor(x => x.ProductId)
                                        @Html.HiddenFor(x => x.AddedDate)
                                        @Html.Label("Ürün ID")
                                        @Html.TextBoxFor(x=> x.ProductId, new {@class="form-control", disabled="true"})

                                        <br />
                                        @Html.Label("Ürün Adı")
                                        @Html.TextBoxFor(x=> x.ProductName, new {@class="form-control"})

                                        <br />
                                        @Html.Label("Ürünün Fiyatı")
                                        @Html.TextBoxFor(x=> x.Price, new {@class="form-control"})

                                        <br />
                                        @Html.Label("Ürün Stok Miktarı")
                                        @Html.TextBoxFor(x=> x.StockQuantity, new {@class="form-control"})

                                        <br />
                                        @Html.Label("Ürün Fotoğrafı 1")

                                        <input type="file" name="Image" />

                                        <br />
                                        @Html.Label("Ürün Fotoğrafı 2")

                                        <input type="file" name="Image2" />

                                        <br />

                                        @Html.LabelFor(model => model.CategoryId, new { @class = "control-label" })
                                        @Html.DropDownListFor(model => model.CategoryId, (IEnumerable<SelectListItem>)ViewBag.categoryValues,  new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.CategoryId, "", new { @class = "text-danger" })
                                        <br />
                                        @Html.Label("Ürün Açıklaması")
                                        @Html.TextAreaFor(x=>x.ProductDescription,5,3, new{@class="form-control"})
                                        <br />

                                        <button type="submit" class="btn btn-primary btn-sm float-right"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Güncelle </button>
                                    </table>


                                }
                            </div>
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>

    </div>


    <!-- Mainly scripts -->
    <script src="/AdminTema/js/jquery-3.1.1.min.js"></script>
    <script src="/AdminTema/js/popper.min.js"></script>
    <script src="/AdminTema/js/bootstrap.js"></script>
    <script src="/AdminTema/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="/AdminTema/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

    <!-- Custom and plugin javascript -->
    <script src="/AdminTema/js/inspinia.js"></script>
    <script src="/AdminTema/js/plugins/pace/pace.min.js"></script>

    <!-- SUMMERNOTE -->
    <script src="/AdminTema/js/plugins/summernote/summernote-bs4.js"></script>

    <!-- Data picker -->
    <script src="/AdminTema/js/plugins/datapicker/bootstrap-datepicker.js"></script>

    <script>
        $(document).ready(function () {

            $('.summernote').summernote();

            $('.input-group.date').datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                calendarWeeks: true,
                autoclose: true
            });

        });
    </script>
</body>
</html>

