@using X.PagedList
@using X.PagedList.Mvc.Core
@using X.PagedList.Web.Common;
@model IPagedList<Product>

@{
	ViewData["Title"] = "TASAR YERİ";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

	

<!DOCTYPE html>
<html lang="zxx">

<body>


	<!-- Page info -->
	<div class="page-top-info">
		<div class="container">
			<h4>Ürünler</h4>
			<div class="site-pagination">
				<a href="/Home/Index/">Ana Sayfa</a> /
				<a href="/Product/Index/">Ürünler</a>
			</div>
		</div>
	</div>
	<!-- Page info end -->

	<!-- Category section -->
	<section class="category-section spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 order-2 order-lg-1">

					@await Component.InvokeAsync("CategoryList")

				</div>

				<div class="col-lg-9  order-1 order-lg-2 mb-5 mb-lg-0">
					<div class="row">
						@foreach (var item in Model)
						{
							<div class="col-lg-4 col-sm-6">
								<div class="product-item">
									<div class="pi-pic">
										<a href="/Product/ProductDetail/@item.ProductId/"><img src="@item.ImageUrl" alt="" class="img-thumbnail"></a>
										<div class="pi-links">
											<a href="#" class="add-card"><i class="flaticon-bag"></i><span>Sepete Ekle</span></a>
											<a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
										</div>
									</div>
									<div class="pi-text">
										<h6>@item.Price <i class="fa fa-try" aria-hidden="true"></i></h6>
										@if (item.ProductName.Length <20)
										{
											<p>@item.ProductName</p>
										}
										else
										{
											<p>@item.ProductName.Substring(0,15)...</p>
										}
										
									
									
									</div>
								</div>
							</div>

						}

						
						
						@* <div class="text-center w-100 pt-3">
							<button class="site-btn sb-line sb-dark">Daha Fazla</button>
						</div> *@
					</div>
					<br />
					@* @Html.PagedListPager((IPagedList)Model,page=>Url.Action("Index", new {page})) *@
					@Html.PagedListPager((IPagedList)Model,page=>Url.Action("Index", new {page}), new 
						PagedListRenderOptions{
						LiElementClasses= new string[]{"page-item"},
					PageClasses= new string[]{"page-link" }
					})
	
				</div>
			</div>
		</div>
	</section>
	<!-- Category section end -->

	<!-- Banner section -->
	<partial name="/Views/Shared/Partials/_BannerPartial.cshtml" />
	<!-- Banner section end  -->


</body>
</html>

