@model List<Comment>



<!DOCTYPE html>
<html lang="zxx">
<head>
    <link rel="stylesheet" href="/tasaryericom/css/commentcss/style.css" />
</head>
<body>
    <div class="comments-section container">
        <h1 style="margin-bottom:20px; font-size:40px;">Yorumlar (@ViewBag.Count)</h1>
        @if (@ViewBag.Count == 0)
        {
            <div class="row">
                <div class="comment col-lg-12">
                    <div class="comment-details">
                        <p style="font-size:20px; padding-left:5px; padding-right:5px; padding-top:5px; padding-bottom:5px;">Bu ürüne ilk yorumu sen yap.</p>
                    </div>
                </div>
            </div>
        }
        else
        {
            @foreach (var item in Model)
        {
           <div class="row">
                <div class="comment col-lg-12">
                    <div class="user-avatar">
                        <img src="@item.AppUser.ImageUrl" alt="Avatar">
                    </div>
                        
                    <div class="comment-details">
                            
                        <h4>@item.AppUser.Name @item.AppUser.Surname</h4>
                        <p>@item.CommentContent</p>
                        <span class="comment-date">@item.CommentDate.ToString("dd.MM.yyyy HH:mm")</span>
                    </div>
                    <div class="float-right">
                            @if (@item.AppUserId == @ViewBag.user_id)
                            {
                                <a href="/Comment/DeleteComment/@item.CommentId/@item.ProductId/" class="btn btn-danger btn-sm" onclick="return confirm('Silmek istediğine emin misin?');"><i class="fa fa-trash"></i></a>
                            }
                            

                    </div>
                </div>
            </div>

        }
            
        }
        
    
</div>
</body>
</html>