@model List<Comment>


<!DOCTYPE html>
<html lang="zxx">
<head>
    <link rel="stylesheet" href="/tasaryericom/css/commentcss/style.css" />
</head>
<body>
    <div class="col-sm-12 m-b-xs ">
        @if (@ViewBag.Count == 0)
        {
            <h1>HERHANGİ BİR ÜRÜNE YORUM YAPILMADI.</h1>
        }
        else
        {
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>

                            <th>Ürün </th>
                            <th>Yorumu Yapan </th>
                            <th>Yorum </th>
                            <th>Tarih</th>
                            <th>Sil</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {

                            <tr>
                                <td>
                                    <a href="/Product/SellerDashboardProductDetail/@item.ProductId/">
                                        @item.Product.ProductName
                                    </a>
                                </td>
                                <td>@item.AppUser.Name @item.AppUser.Surname </td>
                                <td>@item.CommentContent</td>
                                <td>@(((DateTime)item.CommentDate).ToString("dd.MM.yyyy HH:mm"))</td>
                                <td><a href="/Comment/SellerDeleteComment/@item.CommentId/" class="btn btn-sm btn-danger btn-outline">Sil</a></td>
                            </tr>
                        }


                    </tbody>
                </table>
            </div>
        }

    </div>
</body>
</html>
