@model List<Notification>

@{
    ViewData["Title"] = "Notifications";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<!DOCTYPE html>
<html>

<body>

    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>Bildirimler</h2>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="index.html">Ana Sayfa</a>
                </li>
                <li class="breadcrumb-item active">
                    <strong>Bildirimler</strong>
                </li>
            </ol>
        </div>
    </div>
    <div class="wrapper wrapper-content  animated fadeInRight">

        <div class="row">
            <div class="col-lg-12">
                <div class="ibox ">
                    <div class="ibox-title">
                        <h5>Tüm Bildirimler</h5>
                    </div>

                    <div class="ibox-content">

                        <div class="activity-stream">
                            @foreach (var item in Model)
                            {
                                <div class="stream">
                                    <div class="stream-badge">
                                        <i class="@item.NotificationTypeSymbol"></i>
                                    </div>
                                    <div class="stream-panel">
                                        <div class="stream-info">
                                            <a href="#">
                                                @* <img src="@item.AppUser.ImageUrl" />
                                            <span>@item.AppUser.Name @item.AppUser.Surname</span> *@
                                                <span class="date">@item.NotificationDate.ToShortDateString()</span>
                                            </a>
                                        </div>
                                        @item.NotificationDetails
                                    </div>
                                </div>

                            }





                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>

    <partial name="/Views/Shared/AdminPartials/_ScriptPartial.cshtml" />
</body>
</html>
